{{define "content"}}
{{if eq .experience.ID 0}}
<div class="notification is-danger is-light">Not Found</div>
{{else}}
<div class="columns">
    <div class="column is-4">
        <figure class="image is-1by1">
            <img src="/static/img/{{.experience.ID}}.jpg" alt="">
        </figure>
    </div>
    <div class="column is-8">
        <div class="title is-3">{{.experience.Title}}</div>
        <div><i class="fas fa-map-marker"></i> {{.experience.Location}}</div>
        <div><i class="fas fa-stopwatch"></i> {{.experience.Duration}}</div>
        <div><i class="fas fa-money-bill"></i> Rs {{.experience.Price}}</div>
        {{if eq .user.ID 0}}
        <div class="notification">You need login for reservation</div>
        {{else}}
        <form action="/reserve" method="POST">
            <input type="hidden" name="exid" value="{{.experience.ID}}">
            <input type="date" name="checkin" id="chekcin">
            <button type="submit">Reserve</button>
        </form>
        {{end}}
        <p>{{.experience.Description}}</p>
        <br>
        <br>
        <h4 class="title is-4">Comments</h4>
        {{if gt .user.ID 0}}
        <form action="/comment" method="post">
            <input type="hidden" name="exid" value="{{.experience.ID}}">
            <div class="field is-grouped">
                <div class="control">
                    <input class="input" type="text" name="comment" id="comment" placeholder="Comment">
                </div>
                <div class="control">
                    <button class="button" type="submit">Post</button>
                </div>
            </div>
        </form>
        <br>
        <br>
        {{end}}
        {{range .experience.Comments}}
        <small><b>{{.User.Name}}</b> {{.TimeFormat}}</small>
        <br>
        {{.Text}}
        {{end}}
    </div>
</div>

{{end}}
{{end}}